@font-face { 
    src: url(https://cinni.net/fonts/basiic.ttf); 
    font-family: adabelle; 
  }
/* Gallery Pages */
body{
    background-image: url(/bg/bliss.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 20px;
}

#back{
    top: 20px;
    left: 30px;
    background-color: white; 
    box-shadow:0 0 7px 5px white;
    padding:10px 20px;
    position: fixed;
    font-size: 20px;
}

#back a{
    color:black;
    font-family: adabelle;

  

}

#photos {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    border-width:7px;
    border-style:solid;
    border-image: url("/border.png") 7 fill round;
    width: 91.5%;
    margin: auto;
}

#photos figure {
    margin: 10px;
    max-width: min-content;
}

#photos img {
    border: 1px solid black;
    /* Enable this for pixel art!! */
    /* image-rendering: pixelated; */
}

#photos img:hover {
    border-color: #3399ff;
}

#photos span {
    text-align: center;
    display: block;
}

#photos figcaption {
    padding: 10px 0px;
}

.page-links {
    text-align: center;
}

.page-links ul {
    padding: 0px 5px;
    margin: 10px 0px;
    display: inline-block;
}
.page-links li {
    list-style: none;
    display: inline;
    margin: 0px 3px;
}

/* Mobile Styling */

@media (max-width: 800px) {
    body {
        padding: 10px;
    }

    #photos figure {
        width: 95%;
        max-width: unset;
    }

    #photos img {
        width: 100%;
    }
}

/* Styling for JavaScript viewer (if enabled) */

#js-viewer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.612);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


#js-viewer img {
    max-width: 100%;
    height: auto;
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 0 1px #fff9;

}


#js-viewer span {
    margin-top: 10px;
}

#js-viewer span button {
    cursor: pointer;
}