---
import "../styles/style.css";
---


<ul role="menubar" class="can-hover webHidden" id="mobileNav"><!--mobile nav-->
    <li role="menuitem" tabindex="0" aria-haspopup="true">
        <a style="color:black;" href="/home">Index</a>
    </li>

    <li role="menuitem" tabindex="0" aria-haspopup="true">
        Personal
        <ul role="menu">
            <li role="menuitem">
                <a href="/about">About</a>
            </li>
            <li role="menuitem">
                <a href="/about/more">More</a>
            </li>
            <li role="menuitem">
                <img src="../../images/graphics/104.ico" aria-hidden="true" alt="">
                <a href="/love">Lovepage</a>
            </li>
        </ul>
    </li>

    <li role="menuitem" tabindex="0" aria-haspopup="true">
        Sitely
        <ul role="menu">
            <li role="menuitem">
                <a href="/resources">Resources</a>
            </li>
            <li role="menuitem">
                <a href="/info">Site info/Credits</a>
            </li>
            <li role="menuitem">
                <img src="../../images/graphics/104.ico" aria-hidden="true" alt="">
                <a href="/layouts">Layouts</a>
            </li>
        </ul>
    </li>

    <li role="menuitem" tabindex="0" aria-haspopup="true">
        Writing
        <ul role="menu">
            <li role="menuitem">
                <a href="/blog">Blog</a>
            </li>
            <li role="menuitem">
                <img src="../../images/graphics/104.ico" aria-hidden="true" alt="">
                <a href="/microblog">Microblog</a>
            </li>
        </ul>
    </li>

    <li role="menuitem" tabindex="0" aria-haspopup="true">
        Creative
        <ul role="menu">
            <li role="menuitem">
                <img src="../../images/graphics/104.ico" aria-hidden="true" alt="">
                <a href="/media">Media</a>
            </li>
            <li role="menuitem">
                <img src="../../images/graphics/104.ico" aria-hidden="true" alt="">
                <a href="/cameras">Cameras</a>
            </li>
            <li role="menuitem">
                <img src="../../images/graphics/104.ico" aria-hidden="true" alt="">
                <a href="/cameras/gallery">Gallery</a>
            </li>
        </ul>
    </li>

</ul> <!--end mobile nav-->

<style>
    img{
        margin-left: 2px;
    }
</style>