---
import Layout from "../../layouts/Layout.astro";
import '../../styles/sitemap.css';
---
<Layout pageName="sitemap" width="40vw">
    <div class="mainBox"> <!--main -->
        <div id="boxContainer"><!--main box -->
            <div class="border radius-5"><!--main box white -->
                
                <div class="window violet glass active" style="background-color: #69a0ff; margin-bottom: 15px;"> <!--winidow-->
                    <div class="title-bar">
                        <div class="title-bar-text"><img src="/images/graphics/msn2.png"><span>SITEMAP</span></div>
                            <div class="title-bar-controls">
                                <button aria-label="Minimize"></button>
                                <button aria-label="Maximize"></button>
                                <button aria-label="Close"></button>
                            </div>
                    </div> 
                    <div class="window-body">                
                        <div id="header">
                            <div id="icon"> <img src="/images/graphics/Friendly_Dog.webp"></div>
                            <div id="title">
                                <p>
                                    CYBERDEMON <span style="color: #838383;">(Offline)</br></span>
                                    <span><img style="height:1rem" src="/images/graphics/93.ico" alt="mobile compatible"> = mobile compatible <br> </span>
                                    <a style="font-size: 17px;" href="#" onclick="history.go(-1)">Return Back</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!--winidow-->

                <h2>sitely</h2>
                <div class="links">
                  
                    <p>
                        <a href="/" class="mobile">Index</a> <img src="/images/graphics/93.ico" alt="mobile compatible"><br>
                        the site landing page
                    </p>

                    <p>
                        <a href="/home" class="mobile">Home</a> <img src="/images/graphics/93.ico" alt="mobile compatible"><br>
                        the main website page
                    </p>

                    <p>
                        <a href="/notfound" class="mobile">Not Found</a> <img src="/images/graphics/93.ico" alt="mobile compatible"><br>
                        the 404 page
                    </p>

                    <h3><img src="../../images/graphics/81.ico" aria-hidden="true" alt=""> Personal</h3>
                    <p>
                        <a href="/about" class="mobile">About</a> <img src="/images/graphics/93.ico" alt="mobile compatible"><br>
                        about the webmaster
                    </p>

                    <p class="second">
                        <span>
                        <a href="/about/more" class="mobile">More</a> <img src="/images/graphics/93.ico" alt="mobile compatible"></span><br>
                        more about the webmaster
                    </p>

                    <p>
                        <a href="/love">Lovepage</a><br>
                        page dedicated to my bf
                    </p>

                    <h3><img src="../../images/graphics/25.ico" aria-hidden="true" alt=""> Sitely</h3>

                    <p>
                        <a href="/resources" class="mobile">Resources</a> <img src="/images/graphics/93.ico" alt="mobile compatible"><br>
                        resources + useful links
                    </p>

                    <p>
                        <a href="/info" class="mobile">Site info/Credits</a> <img src="/images/graphics/93.ico" alt="mobile compatible"><br>
                        site credits + how i made it
                    </p>

                    <p>
                        <a href="/layouts">Layouts</a><br>
                        old versions of this website
                    </p>

                    <h3><img src="../../images/graphics/102.ico" aria-hidden="true" alt=""> Writing</h3>

                    <p>
                        <a href="/blog" class="mobile">Blog</a> <img src="/images/graphics/93.ico" alt="mobile compatible"><br>
                        the webmaster's ramblings
                    </p>

                    <p>
                        <a href="/microblog" class="mobile">Microlog</a><br>
                        my status.cafe statuses in the form of a blog
                    </p>

                    <h3><img src="../../images/graphics/23.ico" aria-hidden="true" alt=""> Creative</h3>

                  

                    <p>
                        <a href="/media">Media</a><br>
                        collection of media pages
                    </p>

                    <p>
                        <a href="/cameras/">Cameras</a><br>
                        my collection of cameras
                    </p>

                    <p class="second">
                        <span>
                        <a href="/cameras/gallery">Gallery</a></span>
                        <br>
                        photos i've taken
                    </p>
                </div>

                
                <h2>off-site</h2>
                <div class="links">
                <p>
                    <a href="https://cyberdemon.neocities.org">Neocities</a>
                </p>

                <p class="second">
                    <span>
                    <a target="_blank" href="https://neocities.org/site/cyberdemon">Profile</a>
                    </span><br>
                </p>

                <p>
                    <a target="_blank" href="https://cyberdemon.nekoweb.org">Nekoweb</a></li>
                </p>

                <p>
                    <a target="_blank" href="https://cyberdemon.atabook.org/">Guestbook</a>
                </p>

                <p>
                    <a target="_blank" href="https://clap.fc2.com/page/cyberdemon">Clap for me</a>
                    
                </p>

                </div>
                <img class="h-auto dog mobileHidden" src="/images/graphics/confusedDog.gif" alt="" aria-hidden="true">



            </div><!--main box white -->
            
        </div><!--main box-->
    </div><!--main -->
</Layout>