---
import LayoutSidebar from "../../layouts/LayoutSidebar.astro";
import '/src/styles/more.css';
---
<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
<script src="/scripts/facts.js" is:inline></script>
<script src="/scripts/interestTabs.js" is:inline></script>
<script src="/scripts/click.js" is:inline></script>



<LayoutSidebar pageName="more..." headerImg="/images/graphics/playingDogs.png" headerWidth="10vw">
    <img id="floatie" src="../images/graphics/beagle.png" aria-hidden="true" alt="">
    <div class="flex">
        <div class="flexChild" style="flex: 0.8;">
            <div class="flex">
                <div class="flexChild child-equal">
                    <img style="border-radius: 5px;" class="h-auto border"
                    src="https://media1.tenor.com/m/WJq4YSEBjzQAAAAC/cat-neko-atsume.gif" alt="neko atsume cat being picked up"/>
                </div>
                <div class="flexChild child-equal">
                    <div class="about border radius-5">
                        <p>
                            <img style="float:right;shape-outside: ellipse(); height:50px; width:auto" src="https://gifs4crds.carrd.co/assets/images/gallery03/f737a1e0.gif?vca07fc73a" alt="neko atsume cat playing">
                            hiii this is my little page for extas that didnt fit on my <a
                            onmouseover="mouseoversound.playclip()" onclick="clicksound.playclip()" href="/about">about
                            page</a>. hehe 
                        </p>
                    </div>
                </div>
            </div>
            <div class="pin border radius-10">
                <a data-pin-do="embedBoard" data-pin-board-width="auto" data-pin-scale-height="180"
                  data-pin-scale-width="80" href="https://www.pinterest.com/skumlord/dotcoda/"></a>
            </div>
        </div>
        <div class="flexChild child-equal">
            <h2>interests</h2>  
            <div class="border radius-5 interests">        
                <div id="music" class="tabcontent">
                i listen to so much music. mostly industrial rock/expirimental rap. my favs are nin, freddie dredd, elliott smith, and jeff buckley
                </div>
                
                <div id="movies" class="tabcontent">
                <u>ferris buellers day off, spvtw, taxi driver</u>, pulp fiction, kill bill, the evil dead, reservoir dogs, nbk, a clockwork orange, full metal jacket, the shining, <u>clerks, american psycho, donnie darko</u>, bill and ted, star wars, the batman
                </div>
                
                <div id="shows" class="tabcontent">
                hannibal, twin peaks, twd, <u>star trek (tos/tng), house md</u>, succession, freaks and geeks, daria, wwdits, the boys, devilman crybaby, monster, doctor who, severance, psych
                </div>
                
                <div id="games" class="tabcontent">
                <u>♡ doom ♡</u> (every version), quake, hitman, <u>minecraft, stardew valley, fallout (nv and 4), animal jam</u>, ts3, fortnite, re2, osrs, hotline miami, acnh, acnl, kirby, sh2, aj, dead rising, terraria, cookie run, <u>crk</u>, dont starve, slime rancher, left 4 dead 2, classic cod
                </div>
                
                <div id="misc" class="tabcontent">
                coding, marine biology, entomology, cowboys, zombies and zombie media, mortuary science, 90s industrial, wax trax records, windows os, args, lost media, russian lit, philosophy (i heart camus), media studies, german expressionism,
                <span style="text-decoration: underline; text-decoration-color: #3399ff;" data-toggle="tooltip"  title="current hyperfix">the dog artlist</span>
                </div>
            </div>  

            <div class="tab">
                <button class="tablinks" onmouseover="mouseoversound.playclip()" onclick="openCity(event, 'music')" id="defaultOpen">music</button>
                <button class="tablinks" onmouseover="mouseoversound.playclip()" onclick="openCity(event, 'movies')">movies</button>
                <button class="tablinks" onmouseover="mouseoversound.playclip()" onclick="openCity(event, 'shows')">shows</button>
                <button class="tablinks" onmouseover="mouseoversound.playclip()" onclick="openCity(event, 'games')">games</button>
                <button class="tablinks" onmouseover="mouseoversound.playclip()" onclick="openCity(event, 'misc')">misc</button>
            </div>
            
            
            <div class="flex">
                <div class="flexChild child-equal">
                    <h2>fun fact!</h2>
                    <div class="border q">
                        <p id="result">click the button to get started</p>
                      </div>
                      <button onclick="myFunction()" onmouseover="mouseoversound.playclip()" id="select">new fact</button>
      
                </div>
                <div class="flexChild child-equal">
                    <h2>picrews</h2>
                    <div id="horizontal" class="border radius-5">
                        <a href="https://picrew.me/en/image_maker/597356/"><img src="https://files.catbox.moe/yoiylu.png"></a>
                        <a href="https://picrew.me/en/image_maker/2675130/"><img src="https://files.catbox.moe/k5dv2m.png"></a>
                        <a href="https://picrew.me/en/image_maker/230257/"><img src="https://files.catbox.moe/nx7dqd.png"></a>
                        <a href="https://picrew.me/en/image_maker/1512460/"><img
                            src="https://files.catbox.moe/qymw3q.png"></a>
                        <a href="https://picrew.me/en/image_maker/1764548/"><img
                            src="https://files.catbox.moe/nwegpv.png"></a>
                        <a href="https://picrew.me/en/image_maker/2069970/"><img
                            src="https://files.catbox.moe/3tvvxe.png"></a>
                        <a href="https://picrew.me/en/image_maker/1322863/"><img
                            src="https://files.catbox.moe/jnink8.png"></a>
                        <a href="https://picrew.me/en/image_maker/1349935/"><img
                            src="https://files.catbox.moe/dtncm0.png"></a>
                        <a href="https://picrew.me/en/image_maker/644129/"><img src="https://files.catbox.moe/k9pget.png"></a>
                        <a href="https://picrew.me/en/image_maker/2212965/"><img
                            src="https://files.catbox.moe/o88qa1.png"></a>
                        <a href="https://picrew.me/en/image_maker/1469769/"><img
                            src="https://files.catbox.moe/pprxbf.png"></a>
                      </div>
                </div>

            </div>
            <h2>albums i like</h2>
            <div class="border radius-5">
                <div class="scroll-container">
                    <span class="scrolling-text">
                        <img src="https://i.kym-cdn.com/photos/images/original/001/889/501/21f.jpg" alt="">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/5ff5a7ea9cd5487661647c9d5a1453e4.jpg#5ff5a7ea9cd5487661647c9d5a1453e4" alt="nine inch nails the downward spiral">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/d604c0010c0c839da18d8c51b708df48.jpg#d604c0010c0c839da18d8c51b708df48" alt="have a nice life deathconsciousness">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/bda47e23218d9b04b1b76ecfbd8dcff2.jpg#bda47e23218d9b04b1b76ecfbd8dcff2" alt="elliott smith either/or">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/e67632f2ae8a416c97b8fc3191d77894.jpg#e67632f2ae8a416c97b8fc3191d77894" alt="smashing pumpkins melancholy and the infinite sadness">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/f7035c1bd97b430894063a4fbdf6aaa5.jpg#f7035c1bd97b430894063a4fbdf6aaa5" alt="jeff buckley grace">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/993cbaa92fae6cd4acb94b21ec14b7a8.jpg#993cbaa92fae6cd4acb94b21ec14b7a8" alt="car seat headrest teens of denial">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/dc0bb5f042ff176493dac2223156f779.jpg#dc0bb5f042ff176493dac2223156f779" alt="giles corey self titled">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/120386f2880f47dfc71873cda716683c.jpg#120386f2880f47dfc71873cda716683c" alt="elliott smith figure 8">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/6893332c459d779c9e00b3a09aa31589.jpg#6893332c459d779c9e00b3a09aa31589" alt="deftones around the fur">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/fde181381e56b1b5d26f3600af58d087.jpg#fde181381e56b1b5d26f3600af58d087" alt="kmfdm symbols">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/2a453e940a8945b4c5b2766f76ece94a.jpg#2a453e940a8945b4c5b2766f76ece94a" alt="weezer blue album">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/2934bc06555c4799aa7439a130b350a5.jpg#2934bc06555c4799aa7439a130b350a5" alt="jeff buckley sketches for my sweetheart the drunk">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/8f8fffc28ef1bdc50f4c109ee8341e66.jpg#8f8fffc28ef1bdc50f4c109ee8341e66" alt="placebo self titled">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/109adfe3cc11201e3fb97a246afc733d.jpg#109adfe3cc11201e3fb97a246afc733d" alt="machine because i'm young arrogant and hate everything you stand for">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/53442bc27a314142a02d2df018b4161e.jpg#53442bc27a314142a02d2df018b4161e" alt="jpegmafia veteran">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/cfb1bc4825a630f82e19a3292b69f722.jpg#cfb1bc4825a630f82e19a3292b69f722" alt="jpegmafia i lay down my life for you">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/c0ce9cfcac930ee64e101fb4e289399d.jpg#c0ce9cfcac930ee64e101fb4e289399d" alt="freddie dredd dredd">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/b656b9ab38ac244013a2cef6d617ab99.jpg#b656b9ab38ac244013a2cef6d617ab99" alt="korn follow the leader">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/62d26c6cb4ac4bdccb8f3a2a0fd55421.jpg#62d26c6cb4ac4bdccb8f3a2a0fd55421" alt="radiohead ok computer">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/eeeb00682d9045bbbbda8c53573fb25a.jpg#eeeb00682d9045bbbbda8c53573fb25a" alt="the doors an american prayer">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/5f01a8f7a80c071e0d5ece5a0670a299.jpg#5f01a8f7a80c071e0d5ece5a0670a299" alt="akira yamaoka silent hill 2 ost">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/5c7adc8aa6f17d547827d59784ca81cd.jpg#5c7adc8aa6f17d547827d59784ca81cd" alt="the garden haha">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/40b59e2232e0f498f5b31b86e87f5404.jpg#40b59e2232e0f498f5b31b86e87f5404" alt="type o negative october rust">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/ae5140a66ea8ad1f0f022d593e76524a.jpg#ae5140a66ea8ad1f0f022d593e76524a" alt="panchiko deathmetal">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/8d82f82a0edc4030c046217ce62cb3a6.jpg#8d82f82a0edc4030c046217ce62cb3a6" alt="mom 3">
                        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/7384e60ccd4592662d959e2ec5335864.jpg#7384e60ccd4592662d959e2ec5335864" alt="fontaines dc skinty fia">
                    </span>
                </div>

            </div>

        </div>
    </div>

</LayoutSidebar>