---
import Layout from "../layouts/Layout.astro";
import '../styles/404.css';
---
<script src="scripts/wobble.js" is:inline></script>

<Layout>
    <div class="mainBox">
        
        <p>
            <span id="wobble">uh oh . . .</span><br>
            i haven't made this page yet! <br> be sure to check back later
      </p>
     
      <button onclick="history.go(-1)">Go Back</button> 
    </div>
    <img src="/images/graphics/boat-anime.gif" alt="" aria-hidden="true">
    
</Layout>
