---
import Layout from '../layouts/Layout.astro';
import '../styles/index.css';
---

<Layout pageName="WELCOME!">
	<div id="welcome">
		
		<div class="mainBox">
			
			<p>
				best viewed in 1920 x 1080 resolution and is <b>partially</b> mobile friendly
				<span class="font-xs">recomended viewing on PC</span>
			</p>

			<p>
				this site contains no <b>autoplay,</b> has <b>valid RSS,</b> and aims to be <b>WCAG</b>
				accessible
			</p>

			<div class="buttons">
				<button onclick="location.href='home.html';">let me in!</button> <button class="disabled"
					onclick="location.href='https://www.google.com/';"> actually ...</button>
			</div>
			<img src="../images/graphics/collie3.png" id="float" alt="a brown border collie">

		</div>

		<div class="scroll-container">
			<span class="scrolling-text">
				<img src="../images/buttons/1080p.gif" alt="1920x1018 resolution">
                <img src="../images/buttons/firefox.jpg" alt="best viewed with firefox">
                <img src="../images/buttons/macos.gif" alt="made with maxos">
                <img src="../images/buttons/antinft.gif" alt="anti nft">
                <img src="../images/buttons/autism.png" alt="powered by autism">
                <img src="../images/buttons/paws.png" alt="made with my own two paws">
                <img src="../images/buttons/queer.png" alt="you're telling me a queer coded this">
                <img src="../images/buttons/doombut.gif" alt="doom">
                <img src="../images/buttons/imissxp.gif" alt="i miss winxp">

			</span>
		</div>


	</div>
</Layout>