---
import Layout from "../../layouts/Layout.astro";
import '../../styles/love.css';
---
<script src="/scripts/wobble.js" is:inline></script>
<script src="/scripts/click.js" is:inline></script>
<script src="/scripts/love.js" is:inline></script>
<script src="/scripts/us.js" is:inline></script>
<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>

<Layout>
    <main>
    <div id="home"><a onmouseover="mouseoversound.playclip()" onclick="clicksound.playclip()" href="/home">return home</a></div>

    <div class="flex float">
        <div class="flexChild child-equal">
            <div id="polaroid">
                <img style="width:100%;" src="../images/loveImages/polaroid.png">
                <div id="countdown">
                <script>(function(d, s, id) { var js, pjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//www.tickcounter.com/static/js/loader.js"; pjs.parentNode.insertBefore(js, pjs); }(document, "script", "tickcounter-sdk"));</script><a data-type="countup" data-id="332580" class="tickcounter" style="display:block; left:0; width:100%; height:20px; position:relative; padding-bottom:0; margin:0 auto; font-family:hearts" title="brencoda" href="//www.tickcounter.com/countup">brencoda</a>
                </div>
                <div id="days">days w you</div>
            </div>
        </div>

        <div class="flexChild child-equal">
            <div id="header"><em>LOVEPAGE</em></div>
            <div id="subheader">&mdash;<em>lovepage</em></div>
        </div>
    </div>
    <marquee style="z-index:1; color:#fa91c0" behavior="alternate">i love you i love you i love you i love you i love you i love you i love you i love you i love you i love you i love you i love you</marquee>

    <div class="box" style="padding: 40px 20px;">
        <img style="float:right; margin-top: -45px;" src="https://sdl-stickershop.line.naver.jp/products/0/0/1/6598/android/stickers/11657850.png;compress=true">
        hello and welcome to my <span id="wobble">lovepage</span> <img src="https://pixels.crd.co/assets/images/gallery52/79e08725.gif?v=379361a4"><img src="https://pixels.crd.co/assets/images/gallery114/e552318e.gif?v=379361a4"> this is a page dedicated to my <span style="color:#fc95c3">lovely boywife</span> bren <img src="https://pixels.crd.co/assets/images/gallery10/74adf4cc.gif?v=379361a4"> who i love more than anything in the world <img src="https://maguro.carrd.co/assets/images/gallery12/794e4a50.gif?v=10a293e5">
    </div>

    <div class="flex">
        <div class="flexChild child-equal">
            <div id="box">
                <a data-pin-do="embedBoard" data-pin-board-width="auto" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/skumlord/bren/"></a>
            </div>
            <div id="imgfloat">
                <img src="../images/loveImages/love.gif">
              </div>
        </div>
        
        <div class="flexChild child-equal">
            <div style="padding:5px" id="box">
                <p style="color:#fc95c3; font-family: hearts; font-size:35px">i love you more than...</p>
                <div id="silly">
                    <div class="main">
                        <p id="result">click to get started</p>
                    </div>
                </div>
              <button onclick="myFunction()" id="select">new thing!</button>
            </div>
            <img style="height:60%; margin-bottom: -100px;" src="../images/loveImages/kitty.gif">
            <div id="floatie">
                <span id="blink">!</span>
                <p><span style="color:#fc95c3">hint:</span> theres 15 options have you seen them all?</p>
            </div>
        </div>
    </div>

    <p id="uz">widderly us</p>
    <div style="width:500px; margin:auto; margin-top:10px;" class="horizontal" id="box">
        <img data-toggle="tooltip" title="two wolves - real life" src="https://i.pinimg.com/564x/c8/56/0d/c8560d5f7c2d608f88a1e5712f017c18.jpg">
        <img data-toggle="tooltip" title="moss balls - also real life" src="https://i.pinimg.com/564x/15/bd/22/15bd222c9c772cd159fe369b581f7ddf.jpg">
        <img data-toggle="tooltip" title="hannibal and will - hannibal" src="https://i.pinimg.com/564x/a7/53/84/a753844c59c9b15ee643e7f92f7ccd75.jpg">
        <img data-toggle="tooltip" title="shawn and gus - psych" src="https://64.media.tumblr.com/4cd6a989e30463823639fd57a313918e/d5e04b970bc750be-df/s512x512u_c1/33c15f2a2afa3eda28f1be778e4113dafb19a64c.jpg">
    </div> 

    <div class="flex">
        <div class="flexChild child-equal">
            <p id="uz">pixel collection</p>
            <div id="box" class="px"> 
              <p>
                <img src="../images/loveImages/us.gif"> <img src="../images/loveImages/us1.gif"> <img src="../images/loveImages/us2.gif"> <img src="../images/loveImages/us3.gif"> <img src="../images/loveImages/us4.gif"> <img src="../images/loveImages/us5.gif"> <img src="../images/loveImages/us6.gif"><img src="../images/loveImages/us65.gif"> <img src="../images/loveImages/us7.png"> <img src="../images/loveImages/us8.gif"> <img src="../images/loveImages/us9.gif"> <img src="../images/loveImages/us10.gif">
                <img src="../images/loveImages/us11.png"> <img src="../images/loveImages/us12.gif"> <img src="../images/loveImages/us13.gif"> <img src="../images/loveImages/us14.gif"> <img src="../images/loveImages/us15.gif"> <img src="../images/loveImages/us16.gif"> <img src="../images/loveImages/us17.gif"> <img src="../images/loveImages/us18.gif"> <img src="../images/loveImages/us19.gif"> <img src="../images/loveImages/us20.gif"> <img src="../images/loveImages/us22.gif"> <img src="../images/loveImages/us21.gif"> 
                <img src="../images/loveImages/us23.gif"> <img src="../images/loveImages/us24.gif"> <img src="../images/loveImages/us25.gif"> <img src="../images/loveImages/us26.gif">
              </p>
          </div>
        </div>
        <div class="flexChild child-equal">
            <div id="box" style="font-size:20px">
                <p style=" margin-left:34px; position:absolute;">we are just two little</p>
                <div id="rolling">...</div>
            </div>
      
            <img style="height:100px; margin-top: 10px;" src="../images/loveImages/cottoncandy.gif">
        </div>
    </div>
    <img id="drawing" src="../images/loveImages/Untitled28_20250605130455.PNG">


</main>

</Layout>