---
import LayoutSidebar from "../../layouts/LayoutSidebar.astro";
import '../../styles/info.css';
---

<LayoutSidebar pageName="site info"  headerImg="/images/graphics/nintendogStar.png" headerWidth="4vw">
    <div class="flex">
        <div class="flexChild child-equal">
            <h2>site info</h2>
            <div class="border radius-5">
                <p> coded in <a target="_blank" href="https://code.visualstudio.com/">microsoft visual studio code</a> 
                    using <a target="_blank" href="https://marketplace.visualstudio.com/items?itemName=ms-vscode.live-server">live preview</a> 
                    and my macbook pro :p
                </p>
                <p>
                    built with <a target="_blank" href="https://astro.build/">astro</a> and deployed with <a target="_blank" href="https://github.com/bcomnes/deploy-to-neocities">deploy-to-neocities</a> with <a target="_blank" href="https://github.com/burned-salmon/deploy-to-neocities-template">this</a> template
                </p>
                <p>p.s. you can <a target="_blank" href="https://github.com/dotcoda/cyberdemon-neocities">view my source code</a> on github if you'd like</p>
            </div>
            <img class="mobileHidden h-auto" style="margin-top: 40px;" src="https://i.pinimg.com/736x/c2/1f/e8/c21fe85f4b16faba17364ac95b85a88e.jpg">
        </div>

        <div class="flexChild child-equal">
            <h2>credits</h2>
            <div class="border radius-5">
                <p class="credits">
                    <a target="_blank" href="https://www.mf2fm.com/rv/">RV's Javascript effects</a> wobble
                    text<br>
                    <a target="_blank"
                        href="https://web.archive.org/web/20220302113800/https://jellymask.carrd.co/#soundeffect/">Regina's
                        Resources</a> click sfx code<br>
                    <a target="_blank" href="https://www.sounds-resource.com/pc_computer/animaljamclassic/sound/55421/">animal jam & sounds resource</a> click sfx<br>

                    <a target="_blank" href="https://foollovers.com/mat/menuframe.html">fool lovers</a> lace
                    borders<br>
                    <a target="_blank" href="https://khang-nd.github.io/7.css">khang-nd</a> 7.css<br>
                    <a target="_blank" href="https://jdan.github.io/98.css/">jdan</a> 98.css<br>
                    <a target="_blank" href="https://virtualcustoms.net/showthread.php/40369-Original-Windows-7-Icons">gor17981</a> windows 7 icons<br>
                    <a target="_blank" href="https://kissue.tumblr.com/">kissue</a> nintendogs pngs<br>
                    <a target="_blank" href="https://ouka.lomo.jp/rehoeass/">Re:Hoeass</a> animal crossing graphics<br>
                    <a target="_blank" href="https://www.tumblr.com/22even/">22even</a> graphics<br>
                    <a target="_blank" href="https://www.deviantart.com/lonelycoconut">LonelyCoconut</a> graphics<br>
                    <a target="_blank" href="https://maxpixels.moe/resources/nekoweb-stats/">maxpixels</a>
                    nekoweb stats<br>
                    <a target="_blank"
                        href="https://melonking.net/free/software/gallery-maker">melonking</a> gallery
                    maker<br>
                    <a target="_blank"
                        href="https://kwaamfan.neocities.org/main/codes">kwaamfan</a> pictochat blog theme<br>
                    <a target="_blank" href="https://bechnokid.neocities.org/resources/status-cafe/feed-reader/">bechnokid</a> status cafe feed reader + microblog page inspired by <a target="_blank" href="https://fuchi.neocities.org/"> fuchi</a><br>
                    <a target="_blank" href="https://www.w3schools.com/howto/howto_js_filter_elements.asp">element filter js</a> for the articles + inspired by <a target="_blank" href="https://layercake.moe/"> layercake</a><br>
                    <a target="_blank" href="https://cinni.net/?z=/font">cinni</a> main font<br>
                    <a target="_blank" href="https://fontenddev.com/fonts/grape-soda/">font end dev</a>
                    header font
                </p>
            </div>
        </div>
    </div>
</LayoutSidebar>
