

.main{
    border: 1px solid black;
    background-color: white;
}

#feed-reader .flexChild, #feed-reader{
    text-align: left;
}

#feed-reader{

 .border{
    margin-bottom: 10px;}
.flex{
    margin-bottom: 0px;
}

}

.header{
    height:170px;
    background-image: url(/images/backgrounds/bliss.png);
    background-size: cover;    
    background-position: center center;
    border-bottom: 1px solid black;
}

.icon-small, .icon{
    border-radius: 50%;
    border: 1px outset gray;
    z-index: 5;
}

.icon{
    width: 130px;
    margin-top:-100px; 
    margin-bottom: -10px;
}

.icon-small{
    width: 40px;
}

.border{
    padding: 5px;
}

h1, h2{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    filter: none;
    text-shadow:none;
    text-align: left;
    margin: 0;
}

h1{
    font-size: var(--font-md);
    font-weight: bold;
}

h2{
    font-weight: normal;
    color: gray;
    font-size: .9rem;
}

p{
margin: 5px 0px;
}

span{
    color: #06c;
    &:not(:first-of-type){
        margin-left: 15px;
    }
}

hr{
    border-top: none;
    border-color: gray;
}

a{
   color: #06c; 
}

#back{
    top: 20px;
    left: 30px;
    background-color: white; 
    box-shadow:0 0 7px 5px white;
    padding:10px 20px;
    position: fixed;
    font-size: 20px;
}

#back a{
    color:black;
}
