
#boxContainer{
    background-image: url(/images/backgrounds/hills3.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    border:1px solid black;
    border-radius:10px;
    padding: 15px;
    display: flex;
    align-items: center;
}

#resourcesNav{
    height:fit-content;
    margin-right: 15px;
    button{
        width: 120px;
        margin-top: 15px;
        padding:5px 5px;
        a{
            color: black;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 17px;
        }        
    }
}

h5{
    color:white; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 0 0;
    font-size: 30px;
    margin:0px;
}

p{
    margin-bottom: 10px;
}

#box{
    border:1px solid black;
    background-color:white;
    overflow:auto;
    padding:10px;
    text-align: left;
    max-height:500px;
    flex:1;
    p{
        margin-bottom: 15px;
        line-height: 1.4;
    }
}  

hr{
    border: 1px solid #cfcfcf;
}


@media (max-width: 800px) {
    #boxContainer{
        flex-direction: column;
    }

    #box{
        max-height: 70vw;
    }

    .h-auto{
        max-height:80px;
        width: auto;
    }


}


