---
import LayoutSidebar from "../../layouts/LayoutSidebar.astro";
import '../../styles/layouts.css';
---

<script src="/scripts/toTop.js" is:inline></script>


<LayoutSidebar  pageName="layouts">
    <p>history of my homepage layouts! <br> click to enlarge the images</p>
    <div class="flex layouts">
        <div class="child-equal"><!--main left-->

            <h5>v1</h5>
            <a target="_blank" href="../images/layouts/v1.png"><img src="../images/layouts/v1.png"></a>
            <p>jul 17, 23 - aug 23, 23</p>

            <h5>v1 halloween</h5>
            <a target="_blank" href="../images/layouts/v1halloween.png"><img src="../images/layouts/v1halloween.png"></a>
            <p> oct 3, 23- nov 5, 23</p>

            <h5>v1 winter</h5>
            <a target="_blank" href="../images/layouts/v1winter.png"><img src="../images/layouts/v1winter.png"></a>
            <p>dec 1, 23- jan 1, 24</p>
        
            <h5>v3</h5>
            <a target="_blank" href="../images/layouts/v3.png"><img src="../images/layouts/v3.png"></a>
            <p> july 30, 24 - nov 4, 24</p>
            
            <h5>v3 winter</h5>
            <a target="_blank" href="../images/layouts/v3winter.png"><img src="../images/layouts/v3winter.png"></a>
            <p> c. dec 1, 24 - dec 31, 24</p>  
            
            <h5>v4 halloween</h5>
            <a target="_blank" href="../images/layouts/v4Halloween.png"><img src="../images/layouts/v4Halloween.png"></a>
            <p> Oct 13, 25 - tba</p>    
        </div>

        <div class="child-equal"><!--main right-->
        
            <h5>v1.5</h5>
            <a target="_blank" href="../images/layouts/v15.png"><img src="../images/layouts/v15.png"></a>
            <p>aug 23, 23 - oct 3, 23</p>

            <h5>v1.7</h5>
            <a target="_blank" href="../images/layouts/v17.png"><img src="../images/layouts/v17.png"></a>
            <p>nov 9, 23 - nov 27, 23</p>
            
            <h5>v2</h5>
            <a target="_blank" href="../images/layouts/v2.png"><img src="../images/layouts/v2.png"></a>
            <p>? - july 30, 24</p>

            <h5>v3.5</h5>
            <a target="_blank" href="../images/layouts/v35.png"><img src="../images/layouts/v35.png"></a>
            <p>nov 14, 24 - c. dec 1, 24</p>

            <h5>v4</h5>
            <a target="_blank" href="../images/layouts/v4.png"><img src="../images/layouts/v4.png"></a>
            <p>Jun 10, 25 - Oct 13, 25</p>

            
        </div>
    </div>
    <button onclick="topFunction()" id="home">back to the top</button>


</LayoutSidebar>
