---
import LayoutSidebar from "../../layouts/LayoutSidebar.astro";
import '../../styles/resources.css';
---

<LayoutSidebar pageName="resources" headerImg="/images/graphics/redDog.png" headerWidth="4vw">
    <div id="boxContainer">
        <div id="resourcesNav">
            <button><a href="#coding">coding</a></button><br>
            <button><a href="#graphics">graphics</a></button><br>
            <button><a href="#other">other</a></button><br>
            <img class="h-auto" style="margin-top: 50px;" src="/images/graphics/pom.gif" alt="a gif of pompompurin dancing">
        </div>

        <div id="box">

            <h5 id="coding">coding</h5>
            <p>
                <a target="_blank" href="https://www.w3schools.com/">w3schools</a> literally everything
                html css related<br>
                <a target="_blank" href="https://codes.crd.co/#grid">codes.crd.co</a> various codes<br>
                <a target="_blank" href="https://www.mf2fm.com/rv/">RV's Javascript effects</a> cool
                javascripts<br>
                <a target="_blank" href="https://floras.neocities.org/">flora's resources</a> tons of
                links<br>
                <a target="_blank" href="https://ishimori.crd.co/">ishimori</a> more links<br>
                <a target="_blank" href="https://pix.crd.co/">pix</a> resource carrd<br>
                <a target="_blank" href="https://wilardo.crd.co/">wilardo</a> another resource carrd<br>
                <a target="_blank" href="https://scripted.neocities.org/">scripted</a> various
                resources<br>
                <a target="_blank" href="https://loveberry.nekoweb.org/">loveberry</a> handcrafted resource page<br>
                <a target="_blank" href="https://jdan.github.io/98.css/">jdan</a> windows 98 css<br>
                <a target="_blank" href="https://botoxparty.github.io/XP.css/">botoxparty</a> windows xp
                css<br>
                <a target="_blank" href="https://khang-nd.github.io/7.css">khang-nd</a> windows 7 css<br>
                <a target="_blank" href="https://github.com/vinibiavatti1/TuiCss">vinibiavatti1</a> TuiCss (msdos-esque) css<br>
                <a target="_blank"
                    href="https://goblin-heart.net/sadgrl/webmastery/webmaster-links">sadgrl's webmaster
                    links</a> webmastery stuff<br>
                <a target="_blank"
                    href="https://melonking.net/free/software/gallery-maker">melonking</a> gallery
                making tool<br>
                <a target="_blank"
                href="https://build.layoutit.com">layoutit</a> bootstrap template maker<br>
                <a target="_blank" href="https://github.com/bcomnes/deploy-to-neocities">bcomnes</a> deploy to neocities<br>
                <a target="_blank" href="https://github.com/bcomnes/deploy-to-neocities">M1ssM0ss</a> simple deploy to neocities template<br>
                <a target="_blank" href="https://scumsuck.com/resources/deployneocities/">scumsuck</a> and a guide with visuals<br>
                <a target="_blank" href="https://tinytools.directory/">tinytools</a> list of small, free, or experimental web tools<br>

            </p>

            <hr>

            <h5 id="graphics">graphics</h5>
            <p>
                <a target="_blank" href="https://pixels.crd.co/">pixels</a> SO MANY PIXELS<br>
                <a target="_blank" href="https://foollovers.com/mat/menuframe.html">fool lovers</a> cool
                borders<br>
                <a target="_blank" href="https://rentry.org/scripted-use-foollovers-border">scripted how to use fool lovers borders</a><br>
                <a target="_blank" href="https://gifcities.org/">GifCities</a> old web gifs<br>
                <a target="_blank" href="http://emojibank.com//">emojiBank</a> cute pixels (in
                japanese)<br>
                <a target="_blank" href="https://sh2.us/buttons/">sh2.us</a> 88x15 web buttons<br>
                <a target="_blank"
                    href="https://animatedglittergraphics-n-more.tumblr.com/">animatedglittergraphics</a>
                old web graphics<br>
                <a target="_blank" href="https://idbuttons.neocities.org/">idbuttons</a> tiny id
                buttons<br>
                <a target="_blank" href="https://sugaa.tumblr.com/post/70120611883/">sugaa</a> favicon
                masterpost<br>
                <a target="_blank" href="https://biscuit.crd.co/">biscuit</a> graphics carrd<br>
                <a target="_blank" href="https://www.tumblr.com/22even/">22even</a> graphics tubmlr blog<br>
                <a target="_blank" href="https://bettysgraphics.neocities.org/">bettysgraphics</a> biggest graphics collection on neocities<br>

            </p>

            <hr>

            <h5 id="other">other</h5>
            <p>
                <a target="_blank" href="https://www.dafont.com/">dafont</a> fonts for days<br>
                <a target="_blank" href="https://int10h.org/oldschool-pc-fonts/">int10h</a> old pc fonts<br>

                <a target="_blank" href="https://doodad.dev/dither-me-this/">dither me this</a> image
                dithering tool<br>
                <a target="_blank" href="https://www.remove.bg/">remove.bg</a> guess what this does<br>
                <a target="_blank"
                    href="https://www.npr.org/sections/pictureshow/2012/12/13/167163801/one-photo-126-frames-2-billion-leaves-247-feet/">
                    really cool picture of a tree</a><br>
                <a target="_blank" href="https://goblin-heart.net/sadgrl/links">sadgrl's links</a>
                random links<br>
                <a target="_blank" href="https://forum.melonland.net/">melonland form</a> old web style
                digital media fourm<br>
                <a target="_blank" href="https://archive.org/details/sammaxsurfinthehighway">sam and max
                    surfin the highway</a> its sam and max<br>
                <a target="_blank"
                    href="https://ol1vi4s-corner.neocities.org/links/resources">ol1vi4s-corner</a> tons
                of links<br>
                <a target="_blank" href="https://ezgif.com/">ezgif</a> gif editing online<br>
                <a target="_blank" href="https://brisray.com/web/webring-list.htm">brisray</a> webring
                list<br>
                <a target="_blank" href="https://brisray.com/web/webring-list.htm">WAVE</a> website accessibility checker<br>
                <a target="_blank" href="https://roadmap.sh/">roadmap</a> dev roadmaps<br>
                <a target="_blank" href="https://guidebookgallery.org/">GUIdebook</a> gui interface gallery<br>
                <a target="_blank" href="https://www.animaljamarchives.com/">Animal Jam Archives</a> aj classic resources & guides<br>
                <a target="_blank" href="https://marketplace.visualstudio.com/items?itemName=tonybaloney.vscode-pets/">tonybaloney</a> vscode pets<br>
                <a target="_blank" href="https://infinitemac.org/">infinitemac</a> old macos in a browser<br>
                <a target="_blank" href="https://wildwild.directory/about/">Wild Wild Web</a> web directory focused on non-commercial websites<br>
                <a target="_blank" href="https://uses.tech/">uses.tech</a> directory of /uses pages<br>
                <a target="_blank" href="https://personalsit.es/">PersonalSit.es</a> directory of personal websites<br>
                <a target="_blank" href="https://bukmark.club/">BUKMARK.CLUB</a> directory of personal websites with bookmarks<br>
                <a target="_blank" href="https://personalsit.es/">A Website is a Room</a> loveletters to websites<br>
                <a target="_blank" href="https://slashpages.net//">Slash pages</a> pages to add to your website<br>
                <a target="_blank" href="https://info.cern.ch/">info.cern.ch</a> first page online<br>



            </p>
        </div>

    </div>

</LayoutSidebar>