body{
  background-image: url(/images/bg/squareGrid.png);
}

#titleFront{
  background-image: url('/images/graphics/nintendog.png');
    width:400px;

}  


#boxPadding{
    background-image: url(/images/bg/books.png);
    background-size: 30%;
    padding:20px;
    border:1px solid black;
    border-radius: 10px;
    margin-top: 15px;

}

#box{
    border:1px solid black;
    border-radius: 5px;
    padding:15px;
    font-size:22px;
    background-color: white;
}

.child-small {
    flex: 0.6;
  }

h4{
    font-size: 35px!important;
}

h5{
  text-decoration: underline;
  text-decoration-color: #3399ff;
}




    #current{
       background-color: #F0F0F0;
       border: 1px solid #000000b3;
      }

      #current > div:not(:last-child){
        border-bottom: 1px solid #000000b3;
      }


    #current h5{
        font-size:20px;
        margin:0;
        margin-top: 10px;
    }

    .entry{
      display: flex;
      padding: 5px;
      gap: 10px;
    }

    .entry img{
      height: 100px;
      border: 2px ridge #a9a9a9;
    }

    .entry p{
      flex:1;
      text-align: left;
    }

    .entry div{
      flex:1;
    }

    .progress{
      display: flex;
      justify-content: flex-start;
    }
