body{
    background-image:none;
}

h1{
    font-size: 4rem;
    margin: 0;
}

.mainBox{
    position: relative;
}

.listening {
    width: 250px;
    position: absolute;
    float: right;
    right: -150px;
    bottom: -50px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.jams {
    height: 120px;
    width: auto;
}
  
  #cassettes{
    border:1px solid black;
    border-radius: 10px;
    padding:20px;
    height: 590px;
    background-image: url(../../images/backgrounds/field2.png);
    background-size: cover;
    background-position: center;
  }
  
  #cassetteInner{
    border:1px solid black;
    border-radius: 5px;
    background-color: white;
    padding:10px;
  }
  
  #box{
    height:300px;
    width:auto;
  }

  
 
  
  #box img{
    height:80%;
        float: left;
        margin-right:5px;
        transition: .4s;
        border:1px solid black;
  
  }
  
  .caption {
    opacity: 0;
    transition: opacity .3s;
        position: absolute;
        border:1px solid black;
        margin-top:310px;  
      width:515px;
      text-align: left;
      padding: 5px;
      margin-left: -12px;
      border-radius: 5px;
      overflow:auto;
      background-color:white;
      padding: 10px;
      line-height: 130%;
    span{
        text-decoration: underline;
    text-decoration-color: #3399ff;
    }
    
  }
  #box img:hover + .caption {
    opacity: 1;
          float: left;
  }
  
  #box img:hover{
    transform: rotate(4deg);
    margin:0px 13px;
    transition: .4s;
  }
  
  .horizontal{
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  padding: .5em;
  padding-left:0px;
  box-sizing: border-box;
  height: 168px;
  overflow-y: hidden;
  font-family: basiic;
  }  
  
  .horizontal span{
    font-family: basiic;
  }
  
  
  mark{
   font-family:basiic;
   margin-right: 5px;
   color:white;
   background-color:#3399ff;
  }  
  
  .shows{
    text-align: left;
    padding:10px;
    max-height:80px;
    overflow:auto;
    line-height: 1.3;
    margin-bottom: 10px;
  }