---
import Layout from '../../layouts/Layout.astro';
import '../../styles/media/books.css';
---

<script src="../scripts/wobble.js" is:inline></script>


<Layout pageName="bookshelf" headerImg="../../../images/graphics/nintendogBone.png" headerWidth="7vw">
    <div class="mainBox">
        <div class="border radius-10 container">
            <div class="shelf border">
                <div class="row">
                    <div class="tooltip">
                        <img src="https://images.booksense.com/images/020/837/9780060837020.jpg">
                        <span class="tooltiptext">the bell jar</span>
                    </div>
                      
                    <div class="tooltip">
                        <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1377674928i/298275.jpg">
                        <span class="tooltiptext">nausea</span>
                    </div>
                
                    <div class="tooltip">
                        <img src="https://m.media-amazon.com/images/I/A1j7QGUbYRL._AC_UF1000,1000_QL80_.jpg">
                        <span class="tooltiptext">crime and punishment</span>
                    </div>
                       
                    <div class="tooltip">
                        <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1590930002i/49552.jpg">
                        <span class="tooltiptext">the stranger</span>
                    </div>
                           
                    <div class="tooltip">
                        <img src="https://m.media-amazon.com/images/I/41gH8Q32oFL.jpg">
                        <span class="tooltiptext">1984</span>
                    </div>
                       
                    <div class="tooltip">
                        <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1463157317i/168668.jpg">
                        <span class="tooltiptext">catch 22</span>
                    </div>
                           
                    <div class="tooltip">
                        <img src="https://m.media-amazon.com/images/I/51UBFgV28wL._SL1015_.jpg">
                        <span class="tooltiptext">the picture of  dorian gray</span>
                    </div>  
                        
                    <div class="tooltip">
                        <img src="https://m.media-amazon.com/images/I/81-i1L18p-L._AC_UF1000,1000_QL80_.jpg">
                        <span class="tooltiptext">lapvonna</span>
                    </div>
                           
                    <div class="tooltip">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/The_Jungle_%281906%29_cover.jpg/1200px-The_Jungle_%281906%29_cover.jpg">
                        <span class="tooltiptext">the jungle</span>
                    </div>
                </div>
                <div class="row">
                                
                <div class="tooltip">
                    <img src="https://m.media-amazon.com/images/I/71KmDul24wL._AC_UF1000,1000_QL80_.jpg"><span class="tooltiptext">the trial</span></div>
                
                <div class="tooltip">
                    <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1327794298i/1561703.jpg">
                    <span class="tooltiptext">diary of an oxygen thief</span></div>
                
                    <div class="tooltip"><img src="https://images.penguinrandomhouse.com/cover/9780805210576">
                    <span class="tooltiptext">the metamorphosis </span></div>
                
                    <div class="tooltip">
                    <img src="https://covers.openlibrary.org/b/id/10526384-L.jpg">
                    <span class="tooltiptext">american psycho</span></div>
                
                        <div class="tooltip"><img src="https://m.media-amazon.com/images/I/71lvW8OQNXL._AC_UF1000,1000_QL80_.jpg">
                        <span class="tooltiptext">amerika the missing person</span></div>
                    
                    <div class="tooltip"><img src="https://www.myartprints.com/kunst/unbekannter_kuenstler/Titelseite-des-Buches-Der-Faenger-im-Roggen-von-J-D-Salinger.jpg">
                    <span class="tooltiptext">catcher in the rye</span></div>

                    <div class="tooltip"><img src="https://m.media-amazon.com/images/I/61Vo9IbnU8L._AC_UF1000,1000_QL80_.jpg">
                    <span class="tooltiptext">a short history of decay</span></div>
                    
                    <div class="tooltip"><img src="https://m.media-amazon.com/images/I/61ikVpTNeaL._AC_UF1000,1000_QL80_.jpg">
                    <span class="tooltiptext">the decline and fall  of the roman empire</span></div>

                    <div class="tooltip"><img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1434150234i/11691689.jpg">
                    <span class="tooltiptext">deathconsciousness</span></div>
                    
                    <div class="tooltip"><img src="https://m.media-amazon.com/images/I/81Q-2M7vWIL._AC_UF1000,1000_QL80_.jpg">
                    <span class="tooltiptext">my year of rest  and relaxation</span></div>

                    <div class="tooltip"><img src="https://m.media-amazon.com/images/I/613ZVoVVeXL._AC_UF1000,1000_QL80_.jpg">
                    <span class="tooltiptext">thus spoke zarathustra</span></div>
        
                    </div>
                    <div class="row">
                        
                    <div class="tooltip">
                        <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1383718290i/13079982.jpg">
                        <span class="tooltiptext">fahrenheit 451</span>
                    </div>
                    
                    <div class="tooltip">
                        <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1490528560i/4671.jpg">
                        <span class="tooltiptext">the great gatsby</span>
                    </div>
                
                    <div class="tooltip">
                        <img src="https://d28hgpri8am2if.cloudfront.net/book_images/onix/cvr9781608867844/do-androids-dream-of-electric-sheep-omnibus-9781608867844_hr.jpg">
                        <span class="tooltiptext">do androids dream of electic sheep </span>
                    </div>
                
                    <div class="tooltip">
                        <img src="https://m.media-amazon.com/images/I/71QcX1DbklL._AC_UF1000,1000_QL80_.jpg">
                        <span class="tooltiptext">slaughterhouse five</span>
                    </div>
            
                    <div class="tooltip">
                        <img src="../../images/media/books/rye.png">
                        <span class="tooltiptext">another copy of catcher in the rye</span>
                    </div>
            
                    <div class="tooltip">
                        <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1657540227i/6656.jpg">
                        <span class="tooltiptext">the divine comedy</span>
                    </div>
                
                    <div class="tooltip">
                        <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1325861570i/170448.jpg">
                        <span class="tooltiptext">animal farm</span>
                    </div>
                    
                    <div class="tooltip">
                        <img src="https://m.media-amazon.com/images/I/51wA7zNOvfL._AC_UF1000,1000_QL80_.jpg">
                        <span class="tooltiptext">kafka's diaries</span>
                    </div>
                    
                    <div class="tooltip">
                        <img src="https://m.media-amazon.com/images/I/61-M36Jrb0L._AC_UF1000,1000_QL80_.jpg">
                        <span class="tooltiptext">the myth of sisyphus</span>
                    </div>

                    <div class="tooltip">
                        <img src="https://m.media-amazon.com/images/I/71EthOFfhAL._AC_UF1000,1000_QL80_.jpg">
                        <span class="tooltiptext">a little life</span>
                    </div>
                </div>
            </div>
            <div id="glassesDog">
                <div style="z-index: 2;" role="tooltip" class="is-bottom is-left"><span id="wobble">Tip!</span> You can scroll the shelves!</div>
                <img style="z-index: 1;" src="../../images/graphics/glassesDog.png">
            </div>
        </div>
    </div>

</Layout>