---
import '../../styles/media.css';

---

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>digital dream girl</title>
    <link rel="stylesheet" href="https://unpkg.com/7.css">
</head>

<div id="nav">  
    <img src="/images/graphics/looks.png" style="margin-bottom: -45px;" class="hai">     
       <div style="text-align:left; padding:200px 10px;" id="box">
       <p id="title">games </p>
       <p>&emsp;<a onmouseover="mouseoversound.playclip()" onclick="clicksound.playclip()" href="media/thedog.html" target="iframe_a">the dog island</a> <img style="margin-bottom:2px; height:10px" src="newPX/oops.gif"></p>
       <p id="title">music </p>
       <p>&emsp;<a onmouseover="mouseoversound.playclip()" onclick="clicksound.playclip()" href="media/music.html" target="iframe_a">index</a></p>
       <p>&emsp;<a onmouseover="mouseoversound.playclip()" onclick="clicksound.playclip()" href="media/alexg.html" target="iframe_a">alex g</a></p>
       <p id="title">books </p>
       <p>&emsp;<a onmouseover="mouseoversound.playclip()" onclick="clicksound.playclip()" href="media/books.html" target="iframe_a">shelf</a></p>
       <p id="title">misc </p>
       <p>&emsp;<a onmouseover="mouseoversound.playclip()" onclick="clicksound.playclip()" href="media/beanie.html" target="iframe_a">beanie babies</a></p>
 
 
   <center><button style="margin-top:10px" type="button"><a onmouseover="mouseoversound.playclip()" onclick="clicksound.playclip()" style="color:black; font-size:15px" href="/home">home</a>
   </button></center>
 
       </div>
    
   </div>
 
 
      <iframe style="border:none; margin-left:231px; width: calc(100% - 231px); height: 55vw" src="media/home.html" name="iframe_a" height="100%" title="Iframe Example"></iframe>
 