---
import Layout from '../../layouts/Layout.astro';
import '../../styles/media/music.css';
---

<Layout>
   
        <div class="flex mainBox">
            <div class="flexChild child-equal">
                <div id="cassettes">
                    <div id="cassetteInner">

                        <div class="flex" style=" align-items: flex-end; margin-bottom:0; height: 70px;">
                            <img class="jams" src="../images/graphics/jamz.png">
                            <h1>my cassettes</h1>
                        </div>

                        <div id="box" style="border:1px solid #3399ff; height:auto; text-align:center; padding:5px">
                        straight from my <a href="https://www.discogs.com/user/dotcoda" target="_blank">discogs</a>
                        </div>
                
                        <div class="horizontal" id="box"> 
                            <img src="../images/media/music/machinegrl.jpg">
                            <p class="caption">
                                <span>Machine Girl</span> - ......Because I'm Young Arrogant And Hate<br> Everything You Stand For<br>
                                <span>Rating:</span> 4/5<br>
                                <span>Favorite song:</span>うずまき
                            </p>
                
                            <img src="../images/media/music/cash.jpg">
                            <p class="caption">
                                <span>Johnny Cash</span> - Greatest Hits Volume 1<br>
                                <span>Rating:</span> 5/5<br>
                                <span>Favorite song:</span> Ring of Fire
                            </p>
                
                            <img src="../images/media/music/doors.jpg">
                            <p class="caption">
                                <span>The Doors</span> - Greatest Hits<br>
                                <span>Rating:</span> 4/5<br>
                                <span>Favorite song:</span> Riders on the Storm
                            </p>
                
                            <img src="../images/media/music/hanl.jpg">
                            <p class="caption">
                                <span>Have A Nice Life</span> - Deathconsciousness<br>
                                <span>Rating:</span> 10/5 <br>
                                <span>Favorite song:</span> Bloodhail<br>
                               this is my favorite album ever
                            </p>
                                
                            <img src="../images/media/music/nin.jpg">
                            <p class="caption">
                                <span>Nine Inch Nails</span> - Pretty Hate Machine<br>
                                <span>Rating:</span> 4/5<br>
                                <span>Favorite song:</span> Sin 
                            </p>
                                
                            <img src="../images/media/music/joe.jpg">
                            <p class="caption">
                                <span>Joe Jackson</span> - Night And Day<br>
                                <span>Rating:</span> 4/5 <br>
                                <span>Favorite song:</span> Steppin' Out	<br>
                                i first heard this song driving on lakeshore to my friends<br> house on the north side. that was a nice day
                            </p>
                                
                            <img src="../images/media/music/kmfdm.jpg">
                            <p class="caption">
                                <span>KMFDM</span> - Angst<br>
                                <span>Rating:</span> 4/5 <br>
                                <span>Favorite song:</span> A Drug Against War	
                            </p>
                                
                            <img src="../images/media/music/nin2.jpg">
                            <p class="caption">
                                <span>Nine Inch Nails</span> - Broken<br>
                                <span>Rating:</span> 3.5/5<br>
                                <span>Favorite song:</span> Wish
                            </p>
                                
                            <img src="../images/media/music/midi.jpg">
                            <p class="caption">
                                <span>Black Midi</span> - Hellfire<br>
                                <span>Rating:</span> 4.5/5<br>
                                <span>Favorite song:</span> Sugar/Tzu
                            </p>
                                
                            <img src="../images/media/music/huey.jpg">
                            <p class="caption">
                                <span>Huey Lewis And The News</span> - Fore!<br>
                                <span>Rating:</span> 3/5<br>
                                <span>Favorite song:</span> Doing It All For My Baby<br>
                                i got this as a joke
                            </p>
                                
                            <img src="../images/media/music/doors2.jpg">
                            <p class="caption">
                                <span>The Doors</span> - Morrison Hotel<br>
                                <span>Rating:</span> 4/5 <br>
                                <span>Favorite song:</span> Roadhouse Blues
                            </p>
                
                            <img src="../images/media/music/bcnr.PNG">
                            <p class="caption">
                                <span>Black Country, New Road</span> - Ants from Up There<br>
                                <span>Rating:</span> 10/5 <br>
                                <span>Favorite song:</span> Basketball Shoes<br>
                                fun fact this photo is my actual cassette
                            </p>
                            </div>
                    </div>
                    </div>
            </div><!--end first tier-->

            <div class="flexChild child-half">
            
		
           
            <h2>shows i've been to</h2>
    
            <p class="border shows">
                <mark>9.14.19</mark>the garden<br>
                <mark>9.15.19</mark>frank iero<br>
                <mark>9.16.19</mark>dallon weeks<br>
                <mark>11.17.21</mark>the garden<br>
                <mark>11.18.22</mark>machine girl<br>
                <mark>11.18.22</mark>the garden<br>
            </p>
    
            <h2>artists ive met</h2>
    
            <p class="border shows">
                <mark>9.14.19</mark>the garden<br>
                <mark>9.15.19</mark>frank iero<br>
                <mark>9.16.19</mark>dallon weeks<br>
            </p>
           
    
            <div class="window active" style="max-width: 300px">
                <div class="title-bar">
                  <div class="title-bar-text">Last.fm</div>
                  <div class="title-bar-controls">
                    <button aria-label="Minimize"></button>
                    <button aria-label="Maximize"></button>
                    <button aria-label="Close"></button>
                  </div>
                </div>
                <div class="window-body has-space">
                    <a href="https://www.last.fm/user/candidangel" target="_blank"><img src="https://lastfm-recently-played.vercel.app/api?user=candidangel" height="auto" width="100%"/></a>
                </div>
              </div>
    
    
           <img class="listening" src="../../images/graphics/music.png">
            
            </div><!--end second tier-->


</Layout>